<!doctype html>
<html class="no-js" lang="en" ng-app="resumeApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello World! Thank you for viewing my resume! - Fabion O. Stephens</title>
    <link rel="stylesheet" href="assets/vendors/foundation/css/foundation.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <script src="assets/vendors/foundation/js/vendor/modernizr.js"></script>
    <script src="assets/vendors/angularjs/angular.min.js"></script>
    <script src="assets/js/resume.js"></script>
</head>
<body>
<div class="row">
    <div class="small-12 columns">
        <div class="m-app--wrapper">
            <div class="m-app--content-block">
                <div class="m-header" ng-controller="headerCtrl">
                    <div class="row">
                        <div class="small-12 medium-7 medium-centered columns end">
                            <div class="m-header--title text-center">
                                <h1>{{biocontact.name}}</h1>
                                <div>
                                    {{biocontact.address.city}}, {{biocontact.address.country}}
                                </div>
                                <div>
                                    {{biocontact.email}} | {{biocontact.telephone}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-app--content-block">
                <div class="m-skills-set" ng-controller="skillsCtrl">
                    <div class="row">
                        <div class="small-12 columns">
                            <div class="m-app--content-header">
                                <h2>{{header}}</h2>
                                <div ng-repeat="skill in skillsset">
                                    <span class="radius secondary label">{{skill}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-app--content-block">
                <div class="row">
                    <div class="small-12 columns">
                        <div class="m-objective" ng-controller="objectiveCtrl">
                            <div class="m-app--content-header">
                                <div class="row">
                                    <div class="small-12 columns">
                                        <h2>{{objective.header}}</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <div class="m-objective--content">
                                        <span>{{objective.content}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-app--content-block">
                <div class="m-experience" ng-controller="expCtrl">
                    <div class="m-app--content-header">
                        <div class="row">
                            <div class="small-12 columns">
                                <h2>{{header}}</h2>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="exp in experiences">
                        <div ng-include="expTemplate"></div>
                    </div>
                </div>
            </div>
            <div class="m-app--content-block">
                <div class="m-edu" ng-controller="eduCtrl">
                    <div class="m-app--content-header">
                        <div class="row">
                            <div class="small-12 columns">
                                <h2>{{header}}</h2>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="edu in edus">
                        <div ng-include="eduTemplate"></div>
                    </div>
                </div>
            </div>
            <div class="m-app--content-block">
                <div class="m-edu" ng-controller="projlinksCtrl">
                    <div class="m-app--content-header">
                        <div class="row">
                            <div class="small-12 columns">
                                <h2>{{header}}</h2>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="project_link in project_links">
                        <div ng-include="projlinkTemplate"></div>
                    </div>
                </div>
            </div>
            <div class="m-app--content-block">
                <div class="m-hobbies" ng-controller="recreCtrl">
                    <div class="m-app--content-header">
                        <div class="row">
                            <div class="small-12 columns">
                                <h2>{{header}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            {{info}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-footer">
                <div class="row">
                    <div class="small-12 text-center columns">
                        <span class="coltext greytext">
                           References will be provided upon request.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>