<div class="row">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-12 medium-3 columns">
                <span class="blue-text">
                    {{project_link.name}}
                </span>
            </div>
            <div class="small-12 medium-9 columns">
                <a href="{{project_link.url}}" class="greytext">
                    {{project_link.url_text}}
                </a>
            </div>
        </div>
        <span ng-if="project_link.desc">
            <div class="m-app--content-sub">
                {{project_link.desc}}
            </div>
        </span>
    </div>
</div>