/* line 1, ../sass/base/_global.sass */
body {
  background-color: #262223;
  margin: 0;
  font-size: 0.9rem;
  color: #707070;
}

/* line 7, ../sass/base/_global.sass */
.row {
  max-width: 52.5rem;
}

/* line 10, ../sass/base/_global.sass */
.coltext {
  font-size: 0.8rem;
}

/* line 13, ../sass/base/_global.sass */
.greytext {
  color: #B7B7B7;
}

/* line 16, ../sass/base/_global.sass */
.blue-text {
  color: #2D98E5;
}

/* line 1, ../sass/modules/_app.sass */
.m-app--wrapper {
  background-color: #ffffff;
  padding: 1rem;
  margin-top: 1rem;
}

/* line 6, ../sass/modules/_app.sass */
.m-app--content-block {
  padding: 1rem 0;
  border-bottom: 1px solid #f4f4f4;
  font-size: 0.9rem;
}
/* line 10, ../sass/modules/_app.sass */
.m-app--content-block p {
  margin: 0;
}

/* line 13, ../sass/modules/_app.sass */
.m-app--content-sub {
  padding: 0.25rem 0 2.5rem 0;
  font-size: 0.825rem;
}

/* line 18, ../sass/modules/_app.sass */
.m-app--content-header h2 {
  font-size: 1.5rem;
}

/* line 1, ../sass/modules/_header.sass */
.m-header {
  padding: 1rem;
}

/* line 2, ../sass/modules/_skills-set.sass */
.m-skills-set .label {
  display: inline-block;
  float: left;
  margin: 0 0.5rem 0.5rem 0;
}

/* line 1, ../sass/modules/_footer.sass */
.m-footer {
  padding: 1rem 0;
}
